header
{
padding-top:3px;	
}
#logo
{
float:none;
margin-top:0px;
margin:0 auto;
}
.menuIcone
{
display:block;
position:absolute;
right:10px;
top:18px;
color:rgb(50,50,50);
font-size:25px;
}
#navlogo
{
display:block;
width:80px;
margin:0 auto;
}
#searchSection
{
display:block;
float:left;
width:100%;
position:relative;
padding:0px 15px;
margin:20px 0px;
right:0px;
}
#searchClose
{
display:none;	
}
nav
{
display:none;
position:absolute;
left:0px;
top:0px;
background-color:white;
height:700px;
width:280px;
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
border:1px solid rgba(0,0,0,0.1);
padding-top:20px;	
line-height:35px;
}
#logolink
{
margin:0px;
padding:0px;	
}
.closeMenu
{
display:block;
position:absolute;
top:18px;
right:15px;
color:rgb(30,30,30);
font-size:20px;
}
.mobileIcone
{
display:inline-block;
}
.desktopIcone
{
display:none;	
}
nav a
{
width:100%;
clear:both;
color:black;
font-weight:600;
padding-left:15px;
padding-right:0px;
float:left;	
}
#welcome
{
font-size:20px;
margin-top:0px;
}
.serviceBox
{
width:47%;
margin-left:2%;
margin-bottom:15px;	
padding:10px 3%;
}
.serviceBox h1
{
font-size:30px;	
}
.serviceBox h2
{
font-size:14px;	
}
.partenaire
{
width:30%;
margin-left:2.5%;
margin-bottom:10px;
}
.sectionPart
{
width:100%;
padding:0px;	
}
.footersection
{
margin-left:0px;
margin-bottom:40px;
width:100%;
}
#copyright
{
margin-top:0px;
padding:20px 30px;
font-size:12px;
font-weight:bold;
}
